name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd).$(BuildCounter)

parameters:
- name: ContinueEvenIfResourcesAreGettingDestroyed
  displayName: "Continue even if resources will be destroyed"
  type: boolean
  default: false
- name: SnykOnlyFailIfFixable
  displayName: "Snyk should only fail the pipeline if it knows of a fix for an issue"
  type: boolean
  default: false
- name: SnykPassOnIssues
  displayName: "Prevent Snyk from failing the pipeline"
  type: boolean
  default: false

trigger:
- main
- release/*
- develop

pool: $(DeploymentPool)

variables:
- name: BuildCounter
  value: $[counter(format('{0:yyyyMMdd}', pipeline.startTime), 1)]
- name: Container
  value: "ukhydrographicoffice/terraform-azure-powershell:1.3.7"
- name: DeploymentPool
  value: "Mare Nectaris"
- name: WindowsPool1
  value: "NautilusBuild"
- name: WindowsPool2
  value: "Mare Nubium"
- name: NodeVersion
  value: 22.x
- name: snykAbzuOrganizationId
  value: aeb7543b-8394-457c-8334-a31493d8910d

resources:
  repositories:
  - repository: UKHOTemplates
    type: github
    name: UKHO/devops-pipelinetemplates
    endpoint: UKHO
    ref: refs/heads/main

stages:
- stage: VulnerabilityChecks
  displayName: Snyk checks
  dependsOn: []
  jobs:
  - template: Deployment/templates/vulnerability-checks.yml
    parameters:
      SnykOnlyFailIfFixable: ${{ parameters.SnykOnlyFailIfFixable }}
      SnykPassOnIssues: ${{ parameters.SnykPassOnIssues }}

- stage: BuildTestPublish
  displayName: "Build, test and publish"
  dependsOn: []
  jobs:
  - template: Deployment/templates/build-test-publish.yml
    parameters:
      Container: ${{ variables.Container }}

- stage: DevDeploy
  dependsOn:
  - VulnerabilityChecks
  - BuildTestPublish
  displayName: Dev deploy
  jobs:
  - template: Deployment/templates/continuous-deployment.yml
    parameters:
      ContinueEvenIfResourcesAreGettingDestroyed: ${{ parameters.ContinueEvenIfResourcesAreGettingDestroyed }}
      Container: ${{ variables.Container }}
      AzureDevOpsEnvironment: FSS-Dev
      ShortName: dev
      RunFunctionalTests: true
      RunE2eTests: true
      RunAccessibilityTests: true

- stage: vNextIatDeploy
  dependsOn:
  - DevDeploy
  displayName: vNext IAT deploy
  condition: and(succeeded(), or(eq(variables['Build.SourceBranch'], 'refs/heads/develop'), startsWith(variables['Build.SourceBranch'], 'refs/heads/dev/')))
  jobs:
  - template: Deployment/templates/continuous-deployment.yml
    parameters:
      ContinueEvenIfResourcesAreGettingDestroyed: ${{ parameters.ContinueEvenIfResourcesAreGettingDestroyed }}
      Container: ${{ variables.Container }}
      AzureDevOpsEnvironment: FSS-vNext-IAT
      ShortName: vNextIat

- stage: vNextE2eDeploy
  dependsOn:
  - vNextIatDeploy
  displayName: vNext E2E deploy
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/develop'))
  jobs:
  - template: Deployment/templates/continuous-deployment.yml
    parameters:
      ContinueEvenIfResourcesAreGettingDestroyed: ${{ parameters.ContinueEvenIfResourcesAreGettingDestroyed }}
      Container: ${{ variables.Container }}
      AzureDevOpsEnvironment: FSS-vNext-E2E
      ShortName: vNextE2e

- stage: IatDeploy
  dependsOn:
  - DevDeploy
  displayName: IAT deploy
  condition: and(succeeded(), or(eq(variables['Build.SourceBranch'], 'refs/heads/main'), startsWith(variables['Build.SourceBranch'], 'refs/heads/release/')))
  jobs:
  - template: Deployment/templates/continuous-deployment.yml
    parameters:
      ContinueEvenIfResourcesAreGettingDestroyed: ${{ parameters.ContinueEvenIfResourcesAreGettingDestroyed }}
      Container: ${{ variables.Container }}
      AzureDevOpsEnvironment: FSS-IAT
      ShortName: Iat

- stage: PreProdDeploy
  dependsOn:
  - IatDeploy
  displayName: PreProd deploy
  condition: and(succeeded(), or(eq(variables['Build.SourceBranch'], 'refs/heads/main'), startsWith(variables['Build.SourceBranch'], 'refs/heads/release/')))
  jobs:
  - template: Deployment/templates/continuous-deployment.yml
    parameters:
      ContinueEvenIfResourcesAreGettingDestroyed: ${{ parameters.ContinueEvenIfResourcesAreGettingDestroyed }}
      Container: ${{ variables.Container }}
      AzureDevOpsEnvironment: FSS-PreProd
      ShortName: PreProd

- stage: QaDeploy
  dependsOn:
  - DevDeploy
  displayName: QA deploy
  condition: and(succeeded(), or(eq(variables['Build.SourceBranch'], 'refs/heads/main'), startsWith(variables['Build.SourceBranch'], 'refs/heads/release/')))
  jobs:
  - template: Deployment/templates/continuous-deployment.yml
    parameters:
      ContinueEvenIfResourcesAreGettingDestroyed: ${{ parameters.ContinueEvenIfResourcesAreGettingDestroyed }}
      Container: ${{ variables.Container }}
      AzureDevOpsEnvironment: FSS-QA
      ShortName: QA
      RunFunctionalTests: true
      RunE2eTests: true
      RunAccessibilityTests: true

- stage: LiveDeploy
  dependsOn:
  - PreProdDeploy
  displayName: Live deploy
  condition: and(succeeded(), or(eq(variables['Build.SourceBranch'], 'refs/heads/main'), startsWith(variables['Build.SourceBranch'], 'refs/heads/release/')))
  jobs:
  - template: Deployment/templates/continuous-deployment.yml
    parameters:
      ContinueEvenIfResourcesAreGettingDestroyed: ${{ parameters.ContinueEvenIfResourcesAreGettingDestroyed }}
      Container: ${{ variables.Container }}
      AzureDevOpsEnvironment: FSS-Live
      ShortName: prod
      RetainPipeline: true
