<div role="main" id="mainContainer">
        <div class="header-image" alt=" ADMIRALTY FSS Banner"></div>
        <ukho-card>
                <p>The ADMIRALTY File Share Service allows you to search and download files.</p>
                <h1>Sign in to access your files</h1>
                <!-- <p><strong class="light">You need to sign in with your account to access the File Share
                                Service.</strong></p>                                 -->
                <ukho-button (click)='Signin()'>Sign in</ukho-button>                                
                <a (click)='Signin()' href="#" id="fss-createaccount">Create a new account</a>
        </ukho-card>
</div>