<div id="mainContainer" role="main">
        <img class="header-image" src="/assets/images/UKHO-17-AW-0005-Web.jpg" alt=" ADMIRALTY FSS Banner">
        <ukho-card>
                <p>The ADMIRALTY File Sharing Service allows you to search and download files.</p>
                <h1>Sign in to access your files</h1>
                <p><strong class="light">You need to sign in with your account to access the File Share
                                Service.</strong></p>
                <ukho-button (click)='Signin()'>Sign in</ukho-button>
                <p><a (click)='Signin()' href="#" id="fss-createaccount">Create a new account</a></p>
        </ukho-card>
</div>