<a href="javascript:void(0)" (click)="switchToESSLandingPage()" class="linkStartAgain"><i class="fas fa-less-than"></i>  Start again</a>

<div class="container">
  <div class="exchangesetcontainer">
    <h1 id="main" tabindex="-1">Exchange sets</h1>

    <div class="warningsBoxForDownload">
      <ukho-dialogue [type]='messageType' aria-live="polite" *ngIf="displayErrorMessage" tabindex="-1">
        <h3 style="font-size:21px">
           {{messageTitle}}
        </h3>
        <div *ngFor="let msg of requestedProductsNotInExchangeSet ">
          <div class="warningMsg">{{messageDesc}} {{msg.productName}} - {{msg.reason}}</div>
        </div>
      </ukho-dialogue>
    </div>
    
    <p class="light" role="alert">Your exchange set is available as a download via your browser</p>
    <p class="light" role="alert">The zip file will be ready soon, please do not refresh or leave this browser window. </p>
  </div>
  <div class="ess-container">
    <div class="ess-download-wrapper">
      <h3 style="padding-left: 15px;">Exchange set download</h3>
      <div class="spinner-wrapper ess-spinner-wrapper" *ngIf="displayLoader" aria-live='polite' role="alert"
        aria-label="Results Loading"><i class="fas fa-circle-notch fa-spin" style="font-size:220px;color:green"></i></div>
    </div>
    <div class="divider"></div>
    <div style="flex: 3">
      <p class="f36">Exchange sets</p>
      <div class="showSelectedEncSize">
        <strong style="font-size: 24px;">{{exchangeSetCellCount}} ENCs Included in Exchange Set</strong>
        <hr style="border-bottom: 1px solid #d0d0d0;padding: 11px 0px;margin-bottom: 22px;">
        <p class="f22">Estimated Size <span>{{avgEstimatedSize}}</span> </p>  
      </div>
    </div>
  </div>
</div>