.ess-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.ess-download-wrapper {
    flex: 6;
    position: relative;
    border: 1px solid #d0d0d0;
    margin-top: 10px;
    height: 400px;
}

.showSelectedEncSize {
    border: 1px solid #d0d0d0;
    padding: 20px;
    background-color: #f9f9f9;
    p span{
        font-weight: 500;
        font-size: 1.1em;
    }
}

.ess-spinner-wrapper {
    position: absolute !important;
    background-color: #fff;
    z-index: -999999;
}

.divider {
    margin: 0px 39px;
}

.linkStartAgain {
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    margin: 20px 0 20px 69px;
    display: block;
    i{
        padding-right: 6px;
        font-size: 14px;
    }
}
.f22{
    font-size: 1.2em;
}
.f36{
    font-size: 1.9em;
    margin-bottom: 12px;
    font-family: "JohnstonITC", Helvetica, sans-serif;
    color: #09315b;
    font-weight: normal;
}
.warningMsg{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    margin-left: 35px;
}
ukho-button.btnDownload {
    margin-left: 15px;
}