.ess-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.ess-download-wrapper {
    flex: 6;
    position: relative;
    border: 1px solid #d0d0d0;
    margin-top: 10px;
    height: 400px;
}

.showSelectedEncSize {
    border: 1px solid #d0d0d0;
    padding: 20px;
    background-color: #f9f9f9;
}

.ess-spinner-wrapper {
    position: absolute !important;
    background-color: #fff;
    z-index: -999999;
}

.divider {
    margin: 0px 39px;
}


.f22{
    font-size: 22px;
}

ukho-button.btnDownload {
    margin-left: 15px;
}