<div class="container">
  <div>
    <a href="javascript:void(0)" (click)="switchToESSLandingPage()" class="linkStartAgain"><i class="fas fa-less-than"></i> Start again</a>
  </div>
  <div>
    <ukho-dialogue [type]='messageType' *ngIf="displayErrorMessage" >
        <h3 aria-live="polite" role="alert">{{messageDesc}}</h3>
    </ukho-dialogue>
  </div>
  <div class="exchangesetcontainer">
    <h1 id="main" tabindex="-1">Exchange sets</h1>

    <div class="warningsBoxForDownload">
      <ukho-dialogue [type]='messageType' aria-live="polite" *ngIf="displayMessage" tabindex="-1">
        <h3 style="font-size:21px">
           {{messageTitle}}
        </h3>
        <div *ngFor="let msg of requestedProductsNotInExchangeSet ">
          <div class="warningMsg"> {{msg.productName}} - {{msg.reason}}</div>
        </div>
      </ukho-dialogue>
    </div>
    
    <div role="alert">
      <p class="light">Your exchange set is available as a download via your browser</p>
      <p class="light">The zip file will be ready soon, please do not refresh or leave this browser window. </p>
    </div>
   
  </div>
  <div class="ess-container">
    <div class="ess-download-wrapper">
      <h4 style="padding-left: 15px;margin-top: 20px;margin-bottom: 20px">Exchange set download</h4>
      <div class="spinner-wrapper ess-spinner-wrapper" *ngIf="displayEssLoader" aria-live='polite' role="alert"
        aria-label="Results Loading"><i class="fas fa-circle-notch fa-spin" style="font-size:220px;color:green"></i></div>
        <div *ngIf="displayDownloadBtn">
          <ukho-button class="btnDownload" (click)="download()">Download</ukho-button>
        </div>
    </div>
    <div class="divider"></div>
    <div style="flex: 3">
      <p class="essTitle">Exchange set</p>
      <div class="showSelectedEncSize">
        <strong class="f21"> {{requestedProductCount}} ENCs selected</strong>
        <br>
        <hr aria-hidden="true" style="border-bottom: 1px solid #d0d0d0;padding: 11px 0px;"><br>
        <strong class="f21">{{exchangeSetCellCount}} ENCs included</strong>
        <br>
        <hr aria-hidden="true" style="border-bottom: 1px solid #d0d0d0;padding: 11px 0px;"><br>
        <p class="f21">Estimated size <b class="f21">{{avgEstimatedSize}}</b> </p>  
      </div>
    </div>
  </div>
</div>