.SimplifiedSearch{
    display: flex;
    flex-direction: row;
    .SimplifiedSearchResult{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
		margin-left: 70px;
    }
  }
  
.totalResultLabel {		
    font-size:35px;
    font-weight: 400;
    padding-left: 70px;	
}

.paginatorLabel{    
    padding-left: 80px;   
    color: rgb(41, 39, 39);
}

.pagination{    
	padding-left:70%;
}

.skipResults{
    left:-25%;
    &:focus{
        left: 5%;
        transform: translateY(-100%);
    }
}


.SkipToFilter {
    left: -10%;
    &:focus{
        left: 45%;
        transform: translateY(-100%);
    }
}