<table class="querytable">
    <caption class="sr-only">Search Query </caption>
    <thead>
        <tr>
            <th><button class="delete grouping" aria-label="Group selected search rows" [class.disabled]="this.enableGrouping === false" [attr.aria-disabled]="this.enableGrouping === false" (click)="onGroupClick()"><img aria-hidden="true" src="..\assets\images\group icon.svg"></button></th>
            <th class="groups" [attr.colspan]="maxGroupingLevel > 0 ? maxGroupingLevel : 1" [attr.aria-hidden]="maxGroupingLevel === 0"></th>            
            <th class="searchFieldsRow">And/Or</th>
            <th class="searchFieldsRow">Field</th>
            <th class="searchFieldsRow">Operator</th>
            <th class="searchFieldsRow">Value</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let fssSearchRow of fssSearchRows; let i = index;" [id]=i>
            <td width="5%">
                <ukho-checkbox [(ngModel)]="fssSearchRow.group" (change)="onCheckboxClick()"></ukho-checkbox>
            </td>
            <td *ngIf="maxGroupingLevel === 0" [attr.aria-hidden]="maxGroupingLevel === 0"></td>
            <ng-container *ngFor="let grouping of uiGroupings | filter:'rowIndex':i">
                <td 
                    class="{{grouping.class}} grouping-border"
                    [attr.colspan]="grouping.colspan">
                    <button *ngIf="grouping.class === 'group group-start'" class="delete fa fa-times fa-1x grouping" 
                            (click)="onGroupDelete(grouping.rowGrouping)" aria-label="UnGroup selected search rows"></button>                                            
                </td>
            </ng-container>
            <td width="10%">
                <ukho-select *ngIf="i > 0" [(ngModel)]="fssSearchRow.selectedJoinOperator">
                    <option *ngFor="let joinOperator of fssSearchRow.joinOperators" value="{{joinOperator.value}}">
                        {{joinOperator.text}}</option>
                </ukho-select>
            </td>
            <td width="25%">
                <ukho-typeahead class="ukhoTypeahead" [label]="label" [FormControl]="fssSearchRow.fieldFormControl" [showResultsOnInitialFocus]="true"
                [filterFn]="fssSearchRow.filterFn" (valueChanged)="onFieldChange($event, fssSearchRow.rowId)"></ukho-typeahead>
            </td>
            <td width="20%">
                <ukho-select #operatorSelect [(ngModel)]="fssSearchRow.selectedOperator"
                (change)="onOperatorChange(operatorSelect, fssSearchRow.rowId)">
                    <option *ngFor="let Operator of fssSearchRow.operators "
                     value="{{Operator.value}}">{{Operator.text}}</option>
                </ukho-select>
            </td>
            <td class="valueTD" width = "35%">
                <ukho-textinput [(ngModel)]="fssSearchRow.value" 
                *ngIf="!fssSearchRow.isValueHidden"
                [type]= "fssSearchRow.valueType"
                [formControl] = "fssSearchRow.valueFormControl"></ukho-textinput>

                <ukho-textinput *ngIf="fssSearchRow.valueType == 'date' && !fssSearchRow.isValueHidden"
                 [(ngModel)]="fssSearchRow.time"
                type = "time"
                [formControl] = "fssSearchRow.valueFormControlTime"></ukho-textinput>
             </td>
            <td>
                <button class="delete deleteRow fa fa-times fa-1x" (click)="onSearchRowDelete(fssSearchRow.rowId)" aria-label="Delete Row"></button>
            </td>
        </tr>
    </tbody>
</table>
<span aria-live="polite" class="sr-only">Showing 1 to {{totalRowsSearchRow}} Rows </span>