<table class="querytable">
    <caption class="sr-only">Search Query </caption>
    <thead>
        <tr>
            <th><span class="fa fa-object-group grouping" [class.disabled]="this.enableGrouping == false" (click)="onGroupClick()"></span></th>
            <th class="groups" [attr.colspan]="groupingLevels.length > 0 ? groupingLevels.length : 1"></th>
            <th class="searchFieldsRow">And/Or</th>
            <th class="searchFieldsRow">Field</th>
            <th class="searchFieldsRow">Operator</th>
            <th class="searchFieldsRow">Value</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let fssSearchRow of fssSearchRows; let i = index;" [id]=i>
            <td width="5%">
                <ukho-checkbox [(ngModel)]="fssSearchRow.group" (change)="onCheckboxClick()"></ukho-checkbox>
            </td>
            <td *ngIf="groupingLevels.length == 0"></td>
            <ng-container *ngFor="let grouping of uiGroupings | filter:'rowIndex':i">
                <td 
                    class="{{grouping.class}} grouping-border"
                    [attr.colspan]="grouping.colspan">
                    <i *ngIf="grouping.class == 'group group-start'" class="fa fa-object-ungroup grouping"></i>
                </td>
            </ng-container>
            <td width="10%">
                <ukho-select *ngIf="i > 0" [(ngModel)]="fssSearchRow.selectedJoinOperator">
                    <option *ngFor="let joinOperator of fssSearchRow.joinOperators" value="{{joinOperator.value}}">
                        {{joinOperator.text}}</option>
                </ukho-select>
            </td>
            <td>
                <ukho-typeahead [label]="label" [FormControl]="fssSearchRow.fieldFormControl" [showResultsOnInitialFocus]="true"
                [filterFn]="fssSearchRow.filterFn" (valueChanged)="onFieldChange($event, fssSearchRow.rowId)"></ukho-typeahead>
            </td>
            <td width="20%">
                <ukho-select #operatorSelect [(ngModel)]="fssSearchRow.selectedOperator"
                (change)="onOperatorChange(operatorSelect, fssSearchRow.rowId)">
                    <option *ngFor="let Operator of fssSearchRow.operators "
                     value="{{Operator.value}}">{{Operator.text}}</option>
                </ukho-select>
            </td>
            <td class="valueTD">
                <ukho-textinput [(ngModel)]="fssSearchRow.value" 
                *ngIf="!fssSearchRow.isValueHidden"
                [type]= "fssSearchRow.valueType"
                [formControl] = "fssSearchRow.valueFormControl"></ukho-textinput>

                <ukho-textinput *ngIf="fssSearchRow.valueType == 'date' && !fssSearchRow.isValueHidden"
                 [(ngModel)]="fssSearchRow.time"
                type = "time"
                [formControl] = "fssSearchRow.valueFormControlTime"></ukho-textinput>
             </td>
            <td>
                <button class="delete fa fa-times fa-1x" (click)="onSearchRowDelete(fssSearchRow.rowId)" aria-label="Delete Row"></button>
            </td>
        </tr>
    </tbody>
</table>
<span aria-live="polite" class="sr-only">showing 1 to {{totalRowsSearchRow}} rows for search Query table  </span>