<div class="container">
    <h1 id="main" tabindex="-1">Exchange Sets</h1>
      <p class="light">Complete the parameters to create a search query.</p>
      <div>
        <ukho-dialogue [type]='messageType' *ngIf="displayErrorMessage" aria-live="polite">
            <h3>{{messageDesc}}</h3>
        </ukho-dialogue>
    </div>
      <section *ngFor="let enc of encData">
          <div class="EncFIleUploadForEss">
              <ukho-radio [id]="enc.name" value="{{enc.id}}" (change)="onChangeExchangeSetItem($event)">{{enc.name}}
              </ukho-radio>
          </div>
          <div style="width: 58%;" class="innerWrapperForEnc" *ngIf='"essId"+enc.id === essId'>
              <div *ngIf="enc.name === 'Upload your whole permit'">
        
            <ukho-file-input id="file-upload" #essFileUpload (change)="uploadListener($event)" accept=".txt,.csv"
            class="UploadFileIput">
        </ukho-file-input>
                     <div style="text-align: right;"><ukho-button (click)="uploadTextPermitFile()">Proceed</ukho-button></div>  <br>

                  <div *ngIf="encList && encList.length > 0">
                      <ukho-card>
                          <table class="Enctable">
                              <thead class="thead-dark">
                                  <tr>
                                      <th scope="col">Enc Number</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let enc of encList; let i = index">
                                      <td>{{ enc }}</td>
                                  </tr>
                              </tbody>
                          </table>
                      </ukho-card>
                  </div>
              </div>
          </div>
      </section>
  </div>
