.UploadFileIput{
	    width: 45%;
}
.UploadButton
{
    margin-left: 350px;
}

table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  
  table tr:nth-child(even) {
    background-color: #ffffff;
  }