<div class="accessibilitySection">
    <h1 class="accessibility-heading" id="main" tabindex="-1" >Accessibility statement for the File Share and Exchange Set Services</h1>
            <h2 class="fss-Subheading">
                This accessibility statement applies to the File Share Service and Exchange Set Service website
            </h2>
            <p>This website is run by the UK Hydrographic Office. We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>
            <ul>
                <li>Zoom in up to 200% without the text spilling off the screen.</li>
                <li>Navigate most of the website using just a keyboard.</li>
                <li>Navigate most of the website using speech recognition software.</li>
                <li>Listen to most of the website using a screen reader (including the most recent versions of NVDA and VoiceOver).</li>
                <li>See descriptive attributes for all images.</li>
                <li>See descriptions for all links.</li>
            </ul>
            <div>We’ve also made the website text as simple as possible to understand.</div>
            <div><a href="https://abilitynet.org.uk/" target="_blank">AbilityNet</a> has advice on making your device easier to use if you have a disability.</div>
            <div class="accessibility-fss-Subheading"><h2>Feedback and contact information</h2></div>
            <div>If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille:</div>
            <ul style="list-style-type:disc">
                <li>Email <a href="mailto:customerservices@ukho.gov.uk">customerservices@ukho.gov.uk</a></li>
                <li>Call <a href="tel:+44 (0)1823 484444">+44 (0)1823 484444</a></li>
            </ul>
            <div>We’ll consider your request and reply to you within 5 working days.</div>
            <div class="accessibility-fss-Subheading"><h3>Reporting accessibility problems with this website</h3></div>
            <div>We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact  <a href="mailto:customerservices@ukho.gov.uk">customerservices@ukho.gov.uk</a> to let us know your concerns.</div>
            <div class="accessibility-fss-Subheading"><h3>Enforcement procedure</h3></div>
            <div>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/" target="_blank">contact the Equality Advisory and Support Service (EASS).</a></div>
            <div class="accessibility-fss-Subheading"><h3>Technical information about this website’s accessibility</h3></div>
            <div>The UK Hydrographic Office is committed to making this website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</div>
            <div class="accessibility-fss-Subheading"><h3>Compliance status</h3></div>
            <div>This website is partially compliant with the Web Content Accessibility Guidelines version 2.1 AA standard, due to the non-compliances listed below.</div>
            <div class="accessibility-fss-Subheading"><h3>Non-accessible content</h3></div>
            <div>The content listed below is non-accessible for the following reasons.</div>
            <div class="accessibility-fss-Subheading"><h3>Non-compliance with the accessibility regulations</h3></div>
            <ul>
                <li>Form labels are not on form (WCAG 3.3 success criterion 3.2.2).</li>
            </ul>
            <div>This issue is captured and we are working with our support team to provide an update to the website to resolve it.</div>
            <div class="accessibility-fss-Subheading"><h3>How we tested this service</h3></div>
            <div>The service was last tested on 30 October 2022 and was checked for compliance with WCAG 2.1 A. The test was carried out by us and our supplier.</div>
            <div>User journeys through the website were tested with a range of common assistive technologies.</div>
            <div class="accessibility-fss-Subheading"><h3>What we’re doing to improve accessibility</h3></div>
            <div><a href="https://github.com/UKHO/docs/blob/main/quality-assurance/web-accessibility-testing.md" target="_blank">Accessibility Testing Approach at UKHO</a> documents show how we plan to test and improve accessibility on this website and all our products and services. We reviewed these documents on 10 August 2022 and the next review will be on 1 March 2023.</div>
</div>