.addSingleFileSection {
	.text-input-wrap {
		height: initial;
	}

	.addSingleFileTextbox {
		width: 35%;
		float: left;
		margin-right: 20px;
	}
}

.addAioCheckbox {
	align-content: start;
	padding-top: 0px;
}