<div class="container">
    <div>
        <ukho-dialogue [type]='messageType' *ngIf="displayErrorMessage" aria-live="polite">
            <h3>{{messageDesc}}</h3>
        </ukho-dialogue>
    </div>
    <div class="addSingleFileSection">
        <ukho-textinput class="addSingleFileTextbox" label="Add a single ENC" placeholder="Type ENC cell name here"
            [(ngModel)]="txtSingleEnc"></ukho-textinput>
        <br />
        <ukho-button (click)="validateAndAddENC()">
            Proceed
        </ukho-button>
    </div>
</div>