
.showEncListWrapper {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.selectEnc {
    float: right;
    position: relative;
    top: -7px;
}

.showListEncTOtal {
    float: right;
    line-height: 58px;
}

.sortData {
    position: relative;
    vertical-align: middle;
    background-color: #fff;
}

table th:last-child {
    text-align: right !important;
}

.divider {
    border: 1px solid #d8d8d8;
    height: 480px;
    margin: 0px 39px;
}