.attributeTable{
    border-spacing: 10px;
    width: 100%;
    text-align: left;
    border: solid 1px;
  }
  
  .fileTable
   {
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
  }
  