<div class="container">
    <h1 id="main" tabindex="-1">Exchange Sets</h1>
    <p class="light">Update your ENCs for a vessel and make an exchange set</p>
    <p class="light">Your AVCS Exchange Set will contain the latest editions and all the <br/>
                     updates available for your requested ENCs. Some may be more up to <br/>
                     date than those available in the AVCS Weekly service.  </p>
    <p class="light">You can upload a permit file and select up to 100 ENCs from your full <br/>
                     list of holdings, or you can upload a specific list of ENCs as a .csv file or, <br/>
                     search for a single ENC</p>

<ukho-radio-group name="encUploadAdd">
 <ukho-radio [id]="rdoUploadFileId" value="rdoUploadFileName" (change)="onChange($event)" style="display:block">{{rdoUploadFileName}}</ukho-radio>
 <br/>
 <ukho-radio [id]="rdoAddSingleFileId" value="rdoAddSingleFileName" (change)="onChange($event)" style="display:block">{{rdoAddSingleFileName}}</ukho-radio>
</ukho-radio-group>
</div>
<br/>
<div id="divESSUpload" *ngIf="chkESSUpload" >
    <app-ess-upload-file></app-ess-upload-file>
</div>
<div id="divAddSingleENCs" *ngIf="chkAddSingleENCs">
    <app-ess-add-single-encs></app-ess-add-single-encs>
</div>

