$margin-bottom: 20px;
$margin-top: 20px;

.radio-option-group {
  margin: 1px;
}

.date-input-container {
  width: 30%;

}

.radio-description {
  margin-top: $margin-top; 
}
.radio-container{
  margin-bottom: 0%;
  margin-top:0%;
}
.radio-option[value="delta"] {
   margin-top: $margin-bottom; 
 }
