
<div >
    <p class="light">When using a Date Category, please search using your local time. All dates and times are displayed in <strong>{{userLocalTimeZone}}</strong>.</p>
    <app-fss-search-row [fssSearchRows]="fssSearchRows" [uiGroupingDetails]="uiGroupingDetails"
    (onFieldChanged)="onFieldChanged($event)"
    (onOperatorChanged)="onOperatorChanged($event)"
    (onSearchRowDeleted)="onSearchRowDeleted($event)"
    (onGroupClicked)="onGroupClicked()"
    (onGroupDeleted)="onGroupDeleted($event)">
    </app-fss-search-row>
    <div class="searchSection">
        <button (click)="addSearchRow()" class="addNewLine"> <i class="fa fa-plus fa-1x"></i> Add new line </button>
        <div class="searchBtn">
        <admiralty-button data-testid="adv-search-button" (click)="getAdvancedSearchResult()">Search</admiralty-button>
        <a href="javascript:void(0)" class="switchToSimplified" *ngIf="displaySimplifiedSearchLink" (click)="searchToAdvancedSearch()">Simplified Search</a> 
        </div>
    </div>   
</div>
