<div class="container">    
    <div class="encContainer">
        <a href="/">Start again</a>
        <div *ngIf="validEncList && validEncList.length > 0">
            <ukho-card>
                <table class="Enctable">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Enc Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let enc of validEncList; let i = index">
                            <td>{{ enc }}</td>
                        </tr>
                    </tbody>
                </table>
            </ukho-card>
        </div>
    </div>
    <div class="encSelectionContainer">
        <h3>Your selection</h3>
        <h5>2 ENCs selected</h5>
        <!-- <ukho-table>
        </ukho-table> -->
    </div>
</div>