@use '~@fortawesome/fontawesome-free/scss/fontawesome';
@use '~@fortawesome/fontawesome-free/scss/solid';
@use '~@fortawesome/fontawesome-free/scss/brands';
@use '~@ukho/design-system/styles/core.scss';
.skip-to-content-link {
	left: 2%;
	position: absolute;
	transform: translateY(-100%);
	background: #f0f0f0;
	padding: 10px;
	border: none;
	box-shadow: none;
	&:focus {
		transform: translateY(20%);
	}
}
p{
	color: #333;
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

ukho-dialogue section {
    margin: 0 0 10px 0;
}

#mainContainer {
	.header-image {
		width: 100%;
		display: inherit;
		height: 240px;
		background: url(/assets/images/UKHO-1400x240.jpg) center center;
	}
	ukho-card{
	p {
		font-size: x-large;
		font-weight: 300;
		margin-bottom: 20px;
	}
	button{
		float: left;
	}
	a#fss-createaccount {
		padding: 20px 0  20px 40px;
		float: left;
		&:hover {
			text-decoration: none;
		}
	}
}}

ukho-phase-banner.phasebanner {
	padding: 10px;
	width: auto;
}

.container {
	width: 90%;
	margin:0 auto ;
	padding: 10px 0;
	h1 {
		// padding-left: 30px;
		margin-bottom: 10px;
	}
	p {
		// padding-left: 30px;
		margin-bottom: 20px;
	}	
	h3 {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

.querytable {
	border-spacing: 10px;
	width: 100%;
	text-align: center;
	ukho-typeahead{
		text-align: left;
	}
}

table{
    width: 100%;
    text-align: left;
	th{
		font-size: medium;
	}
	
	td{
		font-size: large;
		font-weight: 400;
	}
}

.attribute-table{
    table-layout: fixed !important;		
	th, td{
		width: fit-content;
		padding: 0 5px;
	}
}

.result-margin{
	margin-top:20px;
}

table.cdk-table td>div {
    font-weight: 400;
}

table.cdk-table th, table.cdk-table td{
    color: #221f1c !important;
}

.fa-check{
	color: #4aab37;
}

.searchSection {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	padding: 0 42px;
	strong {
		cursor: pointer;
	}
	.searchBtn {
		display: flex;
		flex-direction: row-reverse;
		flex-grow: 1;
	}
}

.pageOverlay{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 9999;
  background-color: rgba(0,0,0,.4);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.searchFieldsRow {
	text-align: left;
	font-weight: 500;
}

.searchResult {
	padding: 0 30px;
}

.searchFieldBold {
	font-weight: 500;
	text-align: left;
}

.spinner-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgba(80, 74, 74, 0.5);
    z-index: 998;
    app-spinner {
        width: 6rem;
        height: 6rem;
    }
}


button{
	&.delete, &.delete:hover, &.addNewLine, &.addNewLine:hover, &.loginAction, &.loginAction:hover, &.popular-search,
	&.popular-search:hover {
		background: #fff;
    	border: none;
    	min-width: auto;
		height: auto;
    	padding: 0;
		font-weight: 400;
		color: #000;
		i {
    	color: #000;
    	padding: 0;
	}
	&.addNewLine{
		font-size: 18px;
		i{
			padding: 0 5px 0 0;
		}
	}
}}

.valueTD{
	text-align: left;
	// width: 33%;
	ukho-textinput{
	&.validated, &.invalid {
		input.form-text-input{
		padding-right: 0;
	}
	}
}

ukho-textinput.text-input-wrap{
	&[ng-reflect-type="date"] {
		display: inline-block;
		width: 43%;
	input {
		padding-right: 3%;
	}
}
	&[ng-reflect-type="time"]{
		width: 45%;
		display: inline-block;
		left: 7%;
	
}
}
	
}


@media (max-width:1024px){
	.valueTD {
		ukho-textinput.text-input-wrap{
		&[ng-reflect-type=date]{
		padding-left: 5px;
		input{
			padding-left:5px;
		}
	}
	&[ng-reflect-type="time"]{
		width: 42%;
		left: 6%;
	}
 }
 }
}

ukho-textinput.text-input-wrap .error-text{
	display: none;
}
@media screen and (max-width:1024px){
	#mainContainer {
	.header-image {
		height: 240px;
		background: url(/assets/images/UKHO-17-AW-0005-Web.jpg) center center;
	}
}
}

.SearchBatch{
	cursor: pointer;
	width: 25%;
	.popular-search-para{
		margin-bottom: 20px;
		button{
			float: right;
		}
	}
}

.system-attribute-table
{
	margin-bottom: 20px;
}