<div class="container">
  <div>
    <ukho-dialogue [type]='messageType' *ngIf="displayErrorMessage" aria-live="polite">
      <h3>{{messageDesc}}</h3>
    </ukho-dialogue>
  </div>
  <h1 id="main" tabindex="-1">Exchange sets</h1>
  <p>Select up to 100 ENCs and make an exchange set</p>
  <div class="showEncListWrapper">
    <div style="flex: 5">
      <div *ngIf="encList && encList.length > 0">
        <h3> <span>Your ENCs</span> <span class="showListEncTOtal">Showing {{encList.length}} ENCs in permit
            file</span></h3>
          <table ukho-table ukhoSort [dataSource]="encList" (sortChange)="onSortChange($event)">
            <ng-container ukhoColumnDef="enc">
              <th ukho-header-cell *ukhoHeaderCellDef ukhoSortHeader>ENC name</th>
              <td ukho-cell *ukhoCellDef="let element">{{element.enc}}</td>
            </ng-container>
            <ng-container ukhoColumnDef="Choose">
              <th ukho-header-cell *ukhoHeaderCellDef>Choose</th>
              <td ukho-cell *ukhoCellDef="let element">
                <ukho-checkbox [checked]="element.selected" class="selectEnc"
                  attr.aria-label="Select ENC for {{element.enc}}"></ukho-checkbox>
              </td>
            </ng-container>
            <tr ukho-header-row *ukhoHeaderRowDef="displayedColumns"></tr>
            <tr ukho-row *ukhoRowDef="let row; columns: displayedColumns"></tr>
          </table>
      </div>
    </div>
    <div class="divider"></div>
    <div class="showSelectedEncWrapper"></div>
  </div>

</div>