<div class="container">
  <div>
      <ukho-dialogue [type]='messageType' *ngIf="displayErrorMessage">
          <h3 role="alert" aria-live="polite">{{messageDesc}}</h3>
      </ukho-dialogue>
  </div>
  <h1 id="main" tabindex="-1">Exchange sets</h1>
  <p>Select up to 100 ENCs and make an exchange set</p>
  <div class="showEncListWrapper">
  <div style="flex: 5">
      <div *ngIf="encList && encList.length > 0">
              <h3>Your ENCs<span class="showListEncTOtal boldEnc">Showing 5 ENCs in permit file</span></h3>
              <table ukhoSort ukho-table [dataSource]="encList" class="enc-list-table" (sortChange)="onSortChange($event)">
                  <ng-container ukhoColumnDef="enc">
                    <th  ukhoSortHeader ukho-header-cell *ukhoHeaderCellDef>ENC name</th>
                    <td ukho-cell *ukhoCellDef="let element">{{element.enc}}</td>
                  </ng-container>
                  <ng-container ukhoColumnDef="Choose">
                      <th ukho-header-cell *ukhoHeaderCellDef>Choose</th>
                      <td ukho-cell *ukhoCellDef="let element">
                          <ukho-checkbox [checked]="element.selected" (change)="handleChange(element.enc)" class="selectEnc" attr.aria-label="{{element.enc}}"></ukho-checkbox>
                      </td>
                    </ng-container>
                  <tr ukho-header-row *ukhoHeaderRowDef="displayedColumns"></tr>
                  <tr ukho-row *ukhoRowDef="let row; columns: displayedColumns"></tr>
                </table>
      </div>
  </div>
  <div class="divider"></div>
  <div style="flex: 3" class="selectionContainer">
    <h3>Your ENCs<span class="showListEncTOtal boldEnc">Showing 5 ENCs in permit file</span></h3>
      <div *ngIf="selectedEncList && selectedEncList.length > 0">
        <table ukho-table [dataSource]="selectedEncList" class="enc-list-table selectionTable">
                <ng-container ukhoColumnDef="enc">
                  <th ukho-header-cell *ukhoHeaderCellDef>ENC name</th>
                  <td ukho-cell *ukhoCellDef="let element">{{element}}</td>
                </ng-container>
                <ng-container ukhoColumnDef="X">
                    <th ukho-header-cell *ukhoHeaderCellDef></th>
                    <td ukho-cell *ukhoCellDef="let element">
                      <button (click)="handleChange(element)"> <i class="fa fa-times fa-1x"></i> </button>
                    </td>
                  </ng-container>
                <tr ukho-header-row *ukhoHeaderRowDef="displaySelectedTableColumns"></tr>
                <tr ukho-row *ukhoRowDef="let row; columns: displaySelectedTableColumns"></tr>
          </table>
      </div>
  </div>    
</div>
  
</div>