.simplifiedSection{
	.text-input-wrap{
		height: initial;
	}
	.simplifiedTextbox{
	    width: 60%;
		float: left;		
		margin-right: 20px;
	} 
}
.switchToAdvanced{
	color: #000;
	font-weight: 400;
	cursor: pointer;
	text-decoration: underline;
	margin-bottom: 20px;
    width: 60%;
    display: block;
    text-align: right;
}

.SimplifiedSearch{
    display: flex;
    flex-direction: row;
    .SimplifiedSearchResult{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
		margin-left: 70px;
    }
}
.switchToESS{
	width: 100%; 
	float: right;
    text-align: right;
	padding: 0px;
}
	.Exchangesetpara{
		font-size: 17px;
	}

  .Searchmainaindiv{
	display: flex;
	flex-flow: row;
	flex-wrap: wrap
}

.SimplifiedSearchdiv{
	flex: 6
}
.Exchangesetdiv{
	flex: 3;
}
  