.simplifiedSection{
	.text-input-wrap{
		height: initial;
	}
	.simplifiedTextbox{
	    width: 40%;
		float: left;
		margin-right: 20px;
	}
}
.switchToAdvanced{
	color: #000;
	font-weight: 400;
	cursor: pointer;
	text-decoration: underline;
	margin-bottom: 20px;
    width: 40%;
    display: block;
    text-align: right;
}

.SimplifiedSearch{
    display: flex;
    flex-direction: row;
    .SimplifiedSearchResult{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
		margin-left: 70px;
    }
  }