<div class="searchMainDiv">
    <div class="simplifiedSearchDiv">
      
    <div class="simplifiedSection">
        <admiralty-input label="Search" class="simplifiedTextbox" [(ngModel)]="fieldValue"  (keyup.enter)="getSimplifiedSearchResult()"></admiralty-input>
        <admiralty-button class="siplifideSearchBtn" (click)="getSimplifiedSearchResult()">Search</admiralty-button>
    </div>
    <a href="javascript:void(0)" class="switchToAdvanced" (click)="searchToSimplifiedSearch()">Advanced Search</a>
        </div>

    <div class="exchangeSetDiv">
  
    <h4>Exchange sets</h4>
    <p class="light exchangeSetPara" id="exchangeSetPara">You can make a small (100 ENC), custom exchange set
      here and download it</p>
    <a href="javascript:void(0)" class="switchToAdvanced switchToESS" aria-labelledby="exchangeSetPara" (click)="navigatetoexchangesets()">Make an exchange set</a>

    </div>

</div>
